*.pyc
*.pyo
rooibos/settings_local.py
solr/logs/*.log
solr/solr/data/
apps/
scratch/
solr/wrapper.*
solr/wrapper-license.conf
solr/collection1/data/tlog
solr/collection1/data/index/_*
config.xml
CACHE
rooibos/static/flowplayer/flowplayer.commercial*
bin-debug/
unused_bin/
.metadata/
Thumbs.db
rooibos/static/cache/*
2*M.mysql
.idea/*
bin-release-temp/
.DS_Store
.vagrant/
