include *.txt
include README.md
include RELEASE_VERSION
recursive-include rooibos *.html *.css *.js *.json *.ico *.png *.jpg *.gif *.tif *.svg *.ttf *.woff *.woff2 *.eot *.otf *.ijmap *.yaml *.xml
recursive-include rooibos/settings *
recursive-include rooibos/solr *
recursive-include rooibos/static *
recursive-include rooibos/presentation/mirador_package *
