# Copyright 2016 vrcHost LLC
#
# This file is part of MDID.
#
# MDID is free software: you can redistribute it and/or modify it under the
# terms of the GNU General Public License as published by the Free Software
# Foundation, either version 2 of the License, or (at your option) any later
# version.
#
# MDID is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along
# with MDID. If not, see http://www.gnu.org/licenses/.

attrs >= 17.4.0
beautifulsoup
boto
Celery
configobj >= 4.7.2,<=5.0.0
django-cas-ng
django-compressor==2.2
django-extensions
django-pagination
django-pyodbc
django-ranged-fileresponse
django-storages==1.6.6
django-tagging
django-contrib-comments==1.8.0
Django==1.8.17
django-celery-results
flake8
flake8-docstrings
flake8-todo
flickrapi==1.4.5
flup
gunicorn
ipaddr
MySQL-Python
pep8
pep8-naming
pika
pillow >= 2.4.0, <5.0
pycrypto
pypdf
python-ldap
python-memcached
reportlab
requests
sqlparse
werkzeug
requests
unicodecsv==0.14.1

https://github.com/knabar/dj-impersonate/archive/master.zip
https://github.com/knabar/django-shibboleth/archive/master.zip
