{% extends "master.html" %}
{% load humanize %}

{% block content %}

<h1>Shared Collection Management</h1>

<a href="{% url "shared-new" %}">Add Shared Collection</a>


{% if collections %}

<table class="list" summary="Collections">
    <tr>
        <th>Title</th>
        <th>Url</th>
        <th>Username</th>
    </tr>

{% for collection in collections %}
<tr class="{% cycle "" "altrow" %}"{% if master %} style="color: gray;"{% endif %}>
    <td><a href="{% url "shared-edit" collection.id collection.name %}">{{ collection.title }}</a></td>
    <td>{{ collection.url }}</td>
    <td>{{ collection.username|default:"-" }}</td>
</tr>
{% endfor %}

</table>

{% else %}

<div>No shared collections yet.</div>

{% endif %}

{% endblock %}
