.mirador-container .content-container {
    margin-top: 0;
}

.mirador-container .manifest-info {
    display: none;
}

.mirador-osd,
.mirador-hud {
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}


.mdid-active {
    outline: rgb(40%, 60%, 100%) 3px solid;
}

.mdid-synced .mdid-active {
    outline: none;
}

.mdid-hud-hidden {
    opacity: 0;
}

.mdid-hide-image .mirador-osd {
    opacity: 0;
}
