body {
    background-color: #222222;
}

.mirador-container .manifest-info {
    background-color: #222222;
    color: #929191;
}

.mirador-container .manifest-info .window-manifest-navigation {
    display: none;
}

.mirador-main-menu,
.mirador-osd,
.mirador-hud {
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}

.mirador-canvas-metadata {
    opacity: 1;
}

.mirador-container .mirador-viewer .metadata-item {
    font-size: smaller;
    padding: 0;
}

.mirador-container .mirador-viewer .metadata-label {
    text-transform: none;
    font-weight: bold;
    display: inline-block;
}

.mirador-container .mirador-viewer .metadata-value {
    display: inline-block;
    padding-left: 0.5em;
}

.mirador-container .mirador-viewer .metadata-drag-handle {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: x-large;
}

@keyframes mdid-active {
    0% { outline: rgba(20%, 30%, 50%, 1) 3px solid; }
    100% { outline: rgba(20%, 30%, 50%, 0) 3px solid; }
}

.mdid-active-frame {
    -webkit-animation-name: mdid-active;
    -moz-animation-name: mdid-active;
    -o-animation-name: mdid-active;
    animation-name: mdid-active;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.mdid-synced .mdid-active-frame {
    animation: none;
}

.mirador-main-menu.mdid-hud-hidden,
.mdid-hud-hidden .hud-control {
    opacity: 0 !important;
}

.mdid-hide-image .mirador-osd {
    opacity: 0;
}

.annotation-large-font.mirador-container .mirador-canvas-metadata {
    font-size: 24px;
}

.mirador-container .content-container {
    margin-top: 0;
}

.viewer-title.mirador-container .content-container {
    margin-top: 34px;
}

.mirador-container .mirador-main-menu li {
    padding: 0 10px;
}


.slotIconContainer {
    display: none;
}


.annotation-canvas.active {
    z-index: 1000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(.5,.5,.5,.8);
}

.annotation-canvas .embedded-viewer {
    width: 90%;
    height: 90%;
}

.annotation-canvas .embedded-viewer > div,
.annotation-canvas .embedded-viewer .vjs-tech,
.annotation-canvas .embedded-viewer .video-js,
.annotation-canvas .embedded-viewer iframe#ytplayer
{
    width: 100% !important;
    height: 100% !important;
}

.mirador-container .mirador-canvas-metadata-controls .mirador-canvas-metadata-toggle {
    position: initial;
}
