{% extends "master.html" %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">

  $(document).ready(function() {
    var login = $("#{{ form.username.auto_id }}");
    if (!login.val()) login.focus();
  });

</script>
{% endblock %}


{% block content %}

<h1>Log in</h1>


{% if SHIB_ENABLED %}
<div>Please <a href="{% url "shib_login" %}">log in using Shibboleth</a></div>
<h2 style="margin-top: 20px;">Log in locally</h2>
{% else %}
{% if CAS_SERVER_URL %}
<div>Please <a href="{% url "login" %}">log in using CAS</a></div>
<h2 style="margin-top: 20px;">Log in locally</h2>
{% endif %}
{% endif %}


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action=".">{% csrf_token %}
<table summary="Login">
<tr><td>{{ form.username.label_tag }}</td><td>{{ form.username }}</td></tr>
<tr><td>{{ form.password.label_tag }}</td><td>{{ form.password }}</td></tr>
</table>

<input type="submit" value="Log in" />
<input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}
