{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MDID{% if presentation.title %} - {{ presentation.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      #viewer {
        width: 100%;
        height: 100%;
        position: fixed;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'mirador/css/mirador-combined.css' %}">
    <script src="{% static 'mirador/mirador.js' %}"></script>
</head>

<body>
<div id="viewer"></div>
<script type="text/javascript">
  $(function() {
    Mirador({
      id: "viewer",
      buildPath: "{% static 'mirador/' %}",
      data: [{
        manifestUri: "{% url 'presentation-manifest' presentation.id presentation.name %}",
        location: "{{ presentation.title }}"
      }],
      windowObjects: [{
        loadedManifest: "{% url 'presentation-manifest' presentation.id presentation.name %}",
        viewType: "ImageView"
      }]
    });
  });
</script>
</body>


</body>
</html>
