{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MDID{% if presentation.title %} - {{ presentation.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'mirador/css/mirador-combined.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'presentation/viewer.css' %}">
</head>

<body>

<div id="viewer"></div>

<script src="{% static 'mirador/mirador.js' %}"></script>
<script src="{% static 'presentation/viewer.js' %}"></script>

<script>
    var options = {
        id: "viewer",
        buildPath: "{% static 'mirador/' %}",
        data: [{
            manifestUri: "{% url 'presentation-manifest' presentation.id presentation.name %}",
            location: "{{ presentation.title }}"
        }],
        windowObjects: [{
            loadedManifest: "{% url 'presentation-manifest' presentation.id presentation.name %}",
            viewType: "ImageView"
        }],
        workspacePanelSettings: {
            'maxRows': 2,
            'maxColumns': 2,
            'preserveWindows': true
        },

        mainMenuSettings: {
            userButtons: [{
                label: 'Additional Window',
                attributes: {
                    id: 'additional-window',
                    href: 'javascript:window.viewer.additionalWindow();'
                },
                iconClass: 'fa fa-plus-square fa-lg fa-fw'
            }, {
                label: 'Sync Viewers',
                attributes: {
                    id: 'sync-viewers',
                    href: 'javascript:window.viewer.syncViewers();'
                },
                iconClass: 'fa fa-link fa-lg fa-fw'
            }]
        },

        autoHideControls: true
    };

    window.viewer = new Viewer(options);
</script>

</body>
</html>
