{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MDID{% if presentation.title %} - {{ presentation.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'mirador/css/mirador-combined.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'presentation/viewer.css' %}">
</head>

<body>

<div id="viewer"></div>

{% compress js %}
<script src="{% static 'mirador/mirador.js' %}"></script>
<script src="{% static 'presentation/viewer.js' %}"></script>
{% endcompress %}

<script>

    var match = window.location.href.match(/[?&]canvas=([^&]+)/);
    var canvas = match ? match[1] : undefined;

    var returnUrl = '{{ return_url|urlencode }}';

    var options = {
        id: "viewer",
        buildPath: "{% static 'mirador/' %}",
        data: [{
            manifestUri: "{% url 'presentation-manifest' presentation.id presentation.name %}",
            location: "{{ presentation.title }}"
        }],
        windowObjects: [{
            canvasID: canvas,
            loadedManifest: "{% url 'presentation-manifest' presentation.id presentation.name %}"
        }],
        workspacePanelSettings: {
            'maxRows': 2,
            'maxColumns': 2,
            'preserveWindows': true
        },
        windowSettings: {
            availableViews: ['ImageView'],
            viewType: 'ImageView',
            bottomPanelVisible: false,
            sidePanel: false,
            overlay: false,
            canvasControls: {
                annotations: false,
                imageManipulation: {
                    manipulationLayer: true,
                    controls: {
                        rotate: true,
                        brightness: true,
                        contrast: true,
                        saturate: true,
                        grayscale: true,
                        invert: false,
                        mirror: true
                    }
                },
                canvasInfo: {
                    canvasInfoLayer: true
                }
            },
            displayLayout: false
        },
        mainMenuSettings: {
            userButtons: [{
                label: 'Additional Window',
                attributes: {
                    id: 'additional-window',
                    href: 'javascript:window.viewer.additionalWindow();'
                },
                iconClass: 'fa fa-plus-square fa-lg fa-fw'
            }, {
                label: 'Sync Viewers',
                attributes: {
                    id: 'sync-viewers',
                    href: 'javascript:window.viewer.syncViewers();'
                },
                iconClass: 'fa fa-link fa-lg fa-fw'
            }, {
                label: 'Help',
                attributes: {
                    id: 'help-link',
                    href: 'javascript:window.open("{% static 'presentation/help.html' %}");'
                },
                iconClass: 'fa fa-info-circle fa-lg fa-fw'
            }]
        },
        autoHideControls: false  // not functional anyway, we hide it ourselves
    };

    if (returnUrl) {
        options.mainMenuSettings.userButtons.unshift({
            label: 'Close Viewer',
            attributes: {
                id: 'close-viewer',
                href: 'javascript:window.location.assign(returnUrl);'
            },
            iconClass: 'fa fa-sign-out fa-lg fa-fw'
        });
    }

    window.viewer = new Viewer(options);
</script>

</body>
</html>
